---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Main from '../components/Main.astro';
import Instruction from '../components/Instruction.astro';
import { getActivities } from '../lib/api';

function isVideo(src) {
  return src.match(/.mp4|.mov/g);
}

const url = new URL(Astro.request.url);
const page = +(url.searchParams.get("page") || 1);
const pageSize = 1;

const activities = await getActivities(page, pageSize);
---

<Layout title="Activities Page">
  <Navbar title="Activities" />
  <Main>
    <Instruction style={ `--color: var(--color-dusk); --background: var(--gradient-pop-3);` }>
      <strong>
        Be sure to check out important announcements from the center.
      </strong>
    </Instruction>
    <ul>
      {activities.map(item => (
      <li>
        <article>
          <h2 class="title" set:text={item.title} />
          <p class="date">
            <time datetime={item.date} set:text={item.date} />
          </p>
          <p class="description" set:text={item.description} />
          <section class="gallery">
            {item.photos.map(photo => {

            if (isVideo(photo)) return null;

            return (
            <figure>
              <img class="image" loading="lazy" alt={item.title} src={`https://app.kinderconnect.sg${photo}`}
                width="350" />
            </figure>
            );
            })}
          </section>
        </article>
      </li>
      ))}
    </ul>
    <div class="activities-list-nav">
      { page > 1 ?
      <a class="page-link" href={`?page=${page - 1}`} aria-label="Previous Page">
        {"<"} prev </a>
          :
          <span class="page-link disabled" aria-hidden="true">{"<"} prev</span>
              }
              <span>page {page}</span>
              <!-- sometimes the length isn't 30? -->
              { activities.length >= pageSize ?
              <a class="page-link" href={`?page=${page + 1}`} aria-label="Next Page">
                more {">"}
              </a>
              :
              <span class="page-link" aria-hidden="true">more {">"}</span>
              }
    </div>
  </Main>
</Layout>


<style>
  ul,
  li,
  figure {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .title {
    margin: 1em 0;
    font-weight: 900;
    background: var(--gradient-pop-1, var(--gradient-pop-1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .date {
    display: inline-block;
    margin: 0;
    padding: .5em;
    font-weight: 400;
    background-color: var(--color-tan);
  }

  article {
    padding: 1em;
    background: var(--color-yellow);
    border-radius: .5em;
  }

  figure:is(:hover, :focus-within) .image {
    cursor: pointer;
    box-shadow: var(--shadow-sm);
    border: .2em solid var(--color-tan);
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
  }

  .image {
    width: 100%;
    min-width: 350px;
    max-width: 1000px;
    border: .2em solid transparent;
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .activities-list-nav {
    padding: 15px 30px;
    text-align: center;
    top: 55px;
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .activities-list-nav .page-link {
    margin: 0 1em;
  }

  .activities-list-nav .disabled {
    color: #aaa;
  }
</style>