---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Instruction from '../components/Instruction.astro';
import Main from '../components/Main.astro';
import { getAnnouncements } from '../lib/api';
import Pagination from '../components/Pagination.astro';

const url = new URL(Astro.request.url);
const page = +(url.searchParams.get("page") || 1);
const pageSize = 5;

const announcements = await getAnnouncements(page, pageSize);
---

<Layout title="Announcements Page">
  <Navbar title="Announcements" />
  <Main>
    <Instruction>
      Be sure to check out important announcements from the center.
    </Instruction>

    <ul role="list" class="link-card-grid">
      {announcements.map(item => (
      <Card href={item.link} title={item.title} subTitle={item.date} body={item.description} />
      ))}
    </ul>

    <Pagination currentPage={page} hasNextPage={announcements.length>= pageSize} />
  </Main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
</style>